.header{
    display: flex;
    justify-content: center;
    line-height: 1.6;
    
}

.text{
    display: flex;
    flex-direction: row;

   

}


.misión {
margin: 2rem;
padding: 2rem;
border: solid red;
background-color: rgb(240, 101, 168);
text-align: justify;


width: 50%;
}

.footer{
    height: 40rem;
}

@media(max-width:360px){
    .text {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        text-align: left;
        font-size: 10px;

}
.misión{
       font-size: 0.1rem;
}
}
