.pie {
    padding: 5px;
    height: 20px;
    font-size: 0.5rem;
    opacity: 0.87;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    


}
.linkdelpie {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: baseline;
    
}

/* logo y links----------- */

.logo{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 10px;
}   

@media (min-width: 768px) {
.pie {
    padding: 10px;
    height: 45px;
    font-size: 1rem;
    opacity: 0.87;
    vertical-align: baseline;

}

.logo{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10px;
}   
}