.pie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 5px;
    font-size: 0.5rem;
    opacity: 0.87;
}
.linkdelpie {
    display: flex;
    flex-direction: row;
}

/* logo y links----------- */
.logoimg {
    width: 1.5rem;
    height: 1.5rem;
}

.logo {
    padding: 5px;
    border-radius: 5px;
    border: solid black;
}
@media(max-width:550px){
    .pie {
        display:flexbox;
        justify-content: space-between;
        height: 40px;
        padding: 5px;
        font-size: xx-small;
        opacity: 0.87;  
}
.linkdelpie {
    display: flexbox;
}
}
